extends layout

block header
    link(rel='stylesheet', href='/stylesheets/carpark.css')
    script(src='/javascript/carpark.js')

block content
    img.carContainer(src="/images/carpark/PARKING-01.png")
    each i in [1, 2, 3, 4]
        img.car(id="car" + i, src="/images/carpark/parking_available.png",
        style='left: ' + (58 + (100 * i)) + 'px; top: 241px')
    each i in [1, 2, 3, 4]
        img.car(id="car" + (4  + i), src="/images/carpark/parking_available.png",
        style='left: ' + (58 + (100 * i)) + 'px; top: 584px')
